html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#ping-pong-table {
  border: 2px solid black;
  width: 700px;
  height: 400px;
  position: relative;
}

#paddle {
  background-color: blue;
  width: 10px;
  height: 75px;
  margin-left: 2px;
  border-radius: 5px;
  position: absolute;
}

#ball {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  margin: 0;
}
